* {
  color: white;
}

h3{
  display: inline-block;
}

.navy{
  background-color: black;
  padding: 30px;
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  z-index: 1;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.logo{
  font-size: 20px;
}

 .navy li {
   line-height: 3;
   font-size:15px;
}
a{
  color: white;
}

a.hover {
  text-decoration: none;
}

.btn{
  border-radius: 30px;
  width: 100%;
}

.policy{
border-left: 1px solid white;
display: block;
text-align: center;
}

.filters li{
  display: inline-block;
  padding: 15px;
}

.container{
  padding-left: 30px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(129,114,81);
  background: linear-gradient(45deg, rgba(129,114,81,1) 7%, rgba(9,15,17,1) 100%);
}

.card {
  flex-grow:2;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

p{
  text-align: center;
}

.card .descrizione{
  font-weight:bold;
  color: white;
  margin-bottom: 0;
}

.genere{
  font-weight:bold;
  color: orange;
  margin-top: 0;
}

.shadow{
  box-shadow: 10px 10px 5px black;
}

.immagine1{
 width: 250px;
 height: 250px;
 background-image: url('immagini/img1.jpg');
 background-size: cover;
 position: relative;
 margin-bottom: 10px;
}

.immagine2{
 width: 250px;
 height: 250px;
 background-image: url('immagini/img2.jpg');
 background-size: cover;
 position: relative;
  margin-bottom: 10px;
}

.immagine3{
 width: 250px;
 height: 250px;
 background-image: url('immagini/img3.jpg');
 background-size: cover;
 position: relative;
  margin-bottom: 10px;
}

.immagine4{
 width: 250px;
 height: 250px;
 background-image: url('immagini/img4.jpg');
 background-size: cover;
 position: relative;
  margin-bottom: 10px;
}

.tag1{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tag2{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card i{
  position: absolute;
  top: 3%;
  left: 3%;
}

footer{
  display: block;
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 99;
}

.player li{
  display: inline-block;
  padding: 15px;
  z-index: 99;
}

.player1{
  width: 100%;
  background-color: darkgrey;
  z-index: 99;
}

 @media screen and (max-width:768px){

   span, .btn, .hid{
     display: none;
   }
  .navy{
    padding: 10px;
  }

  .filters li {
    display: block;
  }
}
